<nav>
	<ul>
		<div class = 'nav-left'>
			<li><a href = '/'>Home</a></li>
			<li><a href = '/tournaments'>Tournaments</a></li>
		</div>
		<div class = 'nav-right'>
			{% if current_user.is_authenticated %}
				<li><a href=/logout>Logout ({{ current_user.username }})</a></li>
			{% else %}
				<li><a href='/login'>Login</a></li>
				<li><a href='/sign-up'>Sign up</a></li>
			{% endif %}
		</div>
	</ul>
</nav>