<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>


		<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>


		<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/login.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/form.css'>


		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>


		<script type='text/javascript' src='/static/js/form.js'></script>
	</head>
	<body>
		{% include 'includes/navbar.html' %}


		<section>
			<form method='POST' action=''>
				<fieldset>
					<legend>Login</legend>

					<small>Username or Email</small>
					<input type='text' name='username' placeholder='Username or Email'>

					<small>Password</small>
					<input type='password' name='password' placeholder='Password' class='password-field'>
					<i class='fa fa-eye-slash'></i>

					<input type='checkbox' name='remember-me' id='remember-me' value='remember-me' checked>
					<label for='remember-me'>Remember me</label>

					<input type='submit' name='submit' value='Login'>
				</fieldset>
			</form>
		</section>
	</body>
</html>