<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>


		<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>


		<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/sign-up.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/form.css'>


		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>


		<script type='text/javascript' src='/static/js/form.js'></script>
		<script type='text/javascript' src='/static/js/sign-up.js'></script>
	</head>
	<body>
		{% include 'includes/navbar.html' %}


		<section>
			<form id='sign-up-form' method='POST' action=''>
				<fieldset>
					<legend>Sign Up</legend>

					<small>Username</small>
					<input type='text' name='username' placeholder='Username' required>

					<small>Email</small>
					<input type='email' name='email' placeholder='Email' required>

					<small>Password</small>
					<input type='password' name='password' placeholder='Password' class='password-field' required>
					<i class='fa fa-eye-slash'></i>

					<small>Confirm password</small>
					<input type='password' name='confirm-password' placeholder='Confirm password' class='password-field' required>
					<i class='fa fa-eye-slash'></i>

					<label class='submit-btn'>Sign Up</label>
				</fieldset>
			</form>
		</section>
	</body>
</html>